<!doctype html>
<html>
<head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Puppyshelter</title>
    <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <script src="/static/jquery/dist/jquery.min.js"></script>
{% endblock %}
</head>
<body>

<!-- Display flash messages if any-->
{% with messages = get_flashed_messages() %}
    {% if messages %}  
        {% for message in messages %}
            <script>
                var msg = '{{message}}';
                $.notify(msg, "success");
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}


<div class="container">
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	<div id="footer">
		<p>Made by <a href="mailto:nishyl@gmail.com">Nishil</a> as part of project work for a course at <a href="https://www.udacity.com/course/nd004">Udacity</a>.
		Source code available at <a href="https://github.com/charsi/uda-shelters-for-puppies">GitHub</a></p>

	    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
	    <script src="/static/notifyjs/dist/notify.js"></script>
		{% block footer %}
		{% endblock %}
	</div>
</div>
</body>

</html>