{% extends "layout.html" %}

{% block title %}New Puppy{% endblock %}

{% block content %}
    <h1>Add new puppy</h1>

    {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" action="{{url_for('newPuppy', shelter_id=shelter_id)}}">
        <div>{{ form.name.label }}: {{ form.name() }}</div>
        <div>{{ form.gender.label }}: {{ form.gender() }}</div>
        <div>{{ form.weight.label }}: {{ form.weight() }} Kgs</div>
        <div>{{ form.dob.label }}: {{ form.dob() }} ( yyyy-mm-dd )</div>
        <input class="btn btn-default" type='submit' value='Add Puppy'>
    </form>
{% endblock %}