{% extends "layout.html" %}

{% block title %}{{puppy.name}}{% endblock %}

{% block content %}
    {{ flask_util_js.js }}
    <h1>{{puppy.name}}</h1>
    <img src='{{puppy.picture}}' />
    <table class="table">
        <tr><td>Gender</td><td>{{puppy.gender}}</td></tr>
        <tr><td>DOB</td><td> {{puppy.dateOfBirth}}</td></tr>
        <tr><td>Weight</td><td> {{puppy.weight}}</td></tr>
        <tr><td>Details</td><td> {{puppy.description}}</td></tr>
        <tr><td>Special needs</td><td> {{puppy.splNeeds}}</td></tr>
        <tr><td>Currently at</td><td> {{puppy.shelter.name}}</td></tr>
        <tr><td>Adopter(s)</td><td> {{puppy.adopter}}</td></tr>
    </table>
<button class="btn btn-default" id="adopt_btn">Adopt Me!</button>
{% endblock %}
{% block footer %}
<script type="text/javascript">
    $('#adopt_btn').click(function(){
        var ee = flask_util.url_for('adoptPuppy');
        console.log(ee);
        $.post(ee, {id:'{{puppy.id}}'}, function(result){
            alert(result);
        });
        //alert(ee);
    });
</script>
{% endblock %}