{% extends "layout.html" %}

{% block title %}{{shelter.name}}{% endblock %}

{% block content %}
    <h1>{{shelter.name}}</h1>
    <div class="panel panel-default">
    <div class="panel-body">
        <p><a href="http://{{shelter.website}}">{{shelter.website}}</a></p>
        <p>{{shelter.address}} {{shelter.city}} {{shelter.state}} {{shelter.zipCode}}</p>
        <p>Current occupancy : {{shelter.current_occupancy}} / {{shelter.maximum_capacity}}</p>
    </div>
    </div>
    <p><a class="btn btn-default" href="{{url_for('newPuppy', shelter_id=shelter.id)}}">Add new puppy to shelter</a></p>
    <table class="table">
    {% for i in puppies %}
        <tr>
        <td><strong>{{i.name}}</strong></td>
    	<td>{{i.gender}}</td>
    	<td> {{i.dateOfBirth}}</td>
        <td><a class="btn btn-default" href="{{url_for('puppyProfile', puppy_id=i.id)}}">Show Profile</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}